:root {
    --white: #fff;
    --main: #eaedf0;
    --accent: #A9C9A4;
    --accent-2: #ebedf0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); /* Adjust width to account for sidebar */
    margin: 20px auto;
    margin-left: 250px; /* Offset for sidebar */
    margin-top: 80px;
    padding: 0 20px;
    transition: margin-left 0.5s, width 0.5s;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.options a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 230px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
  }


  .cards-container a{
    text-decoration: none;
    color: black;
  }
.cards-header{
    background: linear-gradient(to right, rgba(254, 254, 254, 0.8), #A9C9A4);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 15px;
}

.card-value {
    font-size: 12px;
    color: #333;
}

.card-icon {
    color: #A9C9A4;
    font-size: 24px;
    margin-right: 20px;

}

.card-text {
    display: flex;
    flex-direction: column;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Optional: allows wrapping to the next line if there are too many cards */
    gap: 10px; /* Optional: adds space between the cards */
}

.card-content {
    display: flex;
    align-items: center;
}

.chart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    padding: 20px; /* Reduced padding */
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    margin-bottom: 20px; /* Space between cards */
    flex: 1;
}

.card2-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; 

}

.card2-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Table styles */
.card2-table {
    width: 100%;
    /* border-collapse: collapse; */
    margin: 0px 0;
    /* background: #fff; */
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
   
}

.card2-pie canvas {
    width: 300px !important;
    height: 300px !important;
}

.card2-table th {
    text-align: left;
    padding: 15px;
    border-bottom: 3px solid #A9C9A4;
    background-color: #f7f8fc;
  }

.card2-table td {
    color: #333;
    padding: 15px 0px;
    text-align: left;
  }
  
.card2-table td {
    color: #555;
  }
  
.card2-table tr:last-child td {
    border-bottom: none;
  }

.course-title {
    font-size: 13px;
    margin-right: 10px;
}

.course-modules {
    font-size: 12px;
    color: #555;
    text-align: right;
    margin-top: 10px;
}

/* piechart */
.card2-pie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    flex: 1;
}

/* .piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(230, 153, 153) 70deg,
        rgb(127, 171, 233) 0 235deg,
        rgb(127, 224, 118) 0
    );
} */


/* third row start */

.chart3 {
    display: flex;
   margin-top: 20px;
    gap: 10px;
}

  .card3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    position: relative;
}

.card3-profile img{
    width: 40px; /* Adjust size of image */
    height: 40px; /* Adjust size of image */
    border-radius: 50%; /* Make the image round */
    margin-right: 15px; /* Add some space between the image and title */
}

.card3-title{
    font-size: 16px;
    font-weight: bold;
    display: inline-block; /* Ensures title is beside content */
    margin-right: 10px; /* Adds spacing between the title and content */
    margin-bottom: 20px;

}

.card3-value {
    display: flex;
    align-items: center; /* Ensures the feedback content aligns vertically with the title */
    justify-content: flex-start; /* Aligns content to the left */
    margin-bottom: 10px;
}

.feedback-title {
    font-size: 13px;
    margin-right: 10px;
}

.feedback-date {
    font-size: 12px;
    color: #555;
    text-align: right;
}

/* third row end */

.view-all {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;
}

.view-all a {
    color: inherit;
    text-decoration: none;
    margin-top: 50px;
}

.view-all a:hover {
    text-decoration: underline;
}

.announcement-title{
        font-size: 13px;
        margin-right: 10px;
}

.announcements {
    display: flex; /* Use flexbox to align content */
    flex-direction: column; /* Keep the announcements stacked */
    /* justify-content: space-between; */
    /* height: 150vh; */
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.announcements h2 {
    font-size: 19px;
    margin-top: 50px;
    text-align: center;
    color: #A9C9A4;
}

.announcements ul {
    display: flex;
    flex-direction: column; /* Stack announcements vertically */
    gap: 10px; /* Add spacing between rows */
    list-style: none; /* Remove bullet points */
    flex-grow: 1; /* Make the list stretch */
    padding: 0;
    margin: 0;
}

.announcements li {
    /* Allow items to grow and fill space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcements li img {
    width: 100%; /* Adjust image to occupy full width */
    height: auto;
    border-radius: 8px; /* Keep rounded corners */
    max-height: 150px; /* Maintain consistent height */
    object-fit: cover; /* Ensure images scale properly */
}

.calender-container {
    display: inline-block;
    background-color: var(--white);
    border-radius: 35px;
    padding: 0 1em;
    margin-top: 0px;
  }
  
.calendar header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 5px;
  }

  .header-display {
    display: flex;
    align-items: center;
  }
  
  .header-display p {
    color: var(--accent);
    margin: 5px;
    font-size: 5px;
    word-spacing: 0.5rem;
    font-size: 15px;
  }
  
  pre {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 13px;
    color: var(--accent);
  }
  
  .days,
  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 12px;
  }
  .week div,
  .days div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5em;
    border-radius: 100%;
  }
  .days div:hover {
    background: var(--accent-2);
    color: rgb(25, 25, 201);
    cursor: pointer;
  }
  .week div {
    opacity: 0.5;
  }
  .current-date {
    background-color: var(--accent);
    color: var(--white);
  }
  .display-selected {
    margin-bottom: 10px;
    padding: 20px 20px;
    text-align: center;
  }

/* @media (max-width: 768px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }

    .card {
        width: 100%;
    }

    .card2 {
        width: 100%;
    }

    .card-title, .card2-title {
        font-size: 0.875rem;

    }

    .card-value, .card2-value {
        font-size: 0.75rem;

    }

    .announcements {
        width: 70%;
        margin-left: 0;
        margin-top: 50px;
    }

    .announcements h2 {
        font-size: 10px;

    }

    .announcements li {
        font-size: 10px;

    }
    .calendar-container {
        width: 250px;
    }

    .calendar-container {
        max-width: 100%;
        padding: 10px;
    }

    .header-display p {
        font-size: 0.875rem;
    }

    .days div,
    .week div {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 10px;
    }

} */

@media (max-width: 768px) {
    /* Container adjustments */
    .container {
        width: 100%;
        margin-left: 0;
        margin-top: 90px; /* Increased top margin to prevent overlap with the navbar */
        padding: 0 10px;
    }

    /* Header adjustments */
    .header {
        padding: 10px 20px;
    }

    /* Card adjustments */
    .card {
        width: 100%;
        margin-bottom: 10px; /* Add space between cards */
    }

    .card2 {
        width: 100%;
        margin-bottom: 20px; /* Add space between these cards */
    }


    /* Title font size adjustments */
    .card-title, .card2-title, .card3-title, .card2-pie{
        font-size: 1rem; /* Adjust font size */
    }

    /* Value font size adjustments */
    .card-value, .card2-value, .card3-value, .card2-pie {
        font-size: 0.875rem; /* Adjust font size */
    }
    

    /* Announcements adjustments */
    .announcements {
        width: 100%;
        margin-top: 30px; /* Ensure it doesn't overlap with other elements */
        padding: 15px; /* Adjust padding for mobile */
    }

    .announcements h2 {
        font-size: 1rem;
        margin-top: 20px; /* Add space at the top of the announcements */
    }

    .announcements li {
        font-size: 0.875rem;
        margin-bottom: 15px; /* Add spacing between items */
    }

    /* Calendar adjustments */
    .calendar-container {
        width: 100%;
        padding: 15px;
        margin-top: 0px; /* Space before the calendar */
    }

    /* Adjust day and week divs */
    .days div, .week div {
        height: 2.2rem;
        width: 2.2rem;
        font-size: 12px;
    }

    /* Header display adjustments */
    .header-display p {
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    /* View-all button */
    .view-all {
        font-size: 0.8rem;
        bottom: 10px; /* Reduce the space from the bottom */
    }

    /* Search input adjustments */
    .search input {
        width: 100%; /* Make the search input take full width */
        margin-bottom: 15px; /* Space below search bar */
    }
}
