/* :root {
    --white: #fff;
    --main: #eaedf0;
    --accent: #A9C9A4;
    --accent-2: #ebedf0;
} */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px); /* Adjust width for sidebar */
  margin: 10px auto;
  margin-left: 270px; /* Offset for sidebar */
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.5s, width 0.5s;
  box-sizing: border-box;
}


  
  .courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;  /* Adjusts the space between the course cards */
    margin-top: 20px;
  }

  .course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Limits the width for larger screens */
}
  
.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.cards-header{
    background: linear-gradient(to right, rgba(254, 254, 254, 0.8), #16a159);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 0px;
  }
  
  .course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .tag {
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
  }
  
  
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
    text-align: left;
  }
  
  .progress {
    background: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .progress-bar {
    height: 18px;
    background: #16a159;
    color: white;
    font-size: 13px;
    transition: width 0.5s ease;
    
  }
  
  /* .course-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  } */
  
  .continue-btn {
    background: #16a159;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    width: 100%;

  }
  
  .continue-btn:hover {
    background: #16a159;
  }


  
 
@media (max-width: 1024px) {
  .container {
      width: 90%; 
      margin-left: auto;
      margin-right: auto;
  }

  .courses {
    grid-template-columns: repeat(1, 1fr); /* 2 columns for medium screens */
}

.course-card {
    width: 100%; /* Full width of its container on medium screens */
}
}
    

  
    