/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px); /* Adjust width for sidebar */
    margin: 10px auto;
    margin-left: 270px; /* Offset for sidebar */
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.5s, width 0.5s;
    box-sizing: border-box;
}

/* HEADER */
.header {
    display: flex;
    justify-content: left;
    align-items: center;
    background: #0A1931;
    padding: 30px 20px;
    border-radius: 8px;
    color: white;
}

/* HEADER TITLE */
.header h1 {
    margin: 0;
    font-size: 22px;
}

/* HEADER ACTIONS */    
.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Quiz Attempts */
.quiz-attempts {
    list-style: none;
    padding: 0;
}

.quiz-attempts li {
    list-style: none;
    background-color: #ecf0f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.review-button{
    padding: 13px 20px;
    margin-top: 10px;
    background-color: #FF6699;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    border: none;
}

.review-section {
    margin-top: 10px;
}

.quiz-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 10px;
    /* padding: 15px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd; */
}


.btn {
    padding: 15px 20px;
    background-color: #FF6699;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }
}