/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 600px); 
    margin: 10px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.5s, width 0.5s;
    box-sizing: border-box;
}

.quiz-header {
    background: #0A1931;
    color: white;
    padding: 30px;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
}

#quiz-instruction{
    padding: 20px;
}

.question-header {
    padding: 10px 20px;
    margin-top: 10px;
}

.quiz-body {
    padding: 20px 40px;
    margin: 10px 0px;
}

.quiz-container {
    /* background-color: #f0f2f5; */
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 0px;
}

.question {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-check {
    margin-bottom: 10px;
    font-size: 15px;
}

.quiz-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 10px;
    /* padding: 15px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd; */
}

.start-quiz-btn {
    padding: 15px 20px;
    background-color: #0A1931;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
    font-size: 14px;
}

.start-quiz-btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}


.finish-btn {
    background-color: #FF6699;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }
}