/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 24px;
    color: #1a6e1b;
    margin-bottom: 20px;
}

h4, p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #16a159;
    margin-bottom: 10px;
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px); /* Adjust width for sidebar */
    margin: 10px auto;
    margin-left: 270px; /* Offset for sidebar */
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.5s, width 0.5s;
    box-sizing: border-box;
}

.cards-header {
    background: linear-gradient(to right, rgba(254, 254, 254, 0.8), #A9C9A4);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.course-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    justify-content: left;
    padding: 20px 0;
}

.course-item {
    background: #fff;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.course-item:hover {
    transform: translateY(-5px);
}

.course_link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.course-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.course-image:hover {
    opacity: 0.9;
}

.course-content {
    padding: 6px 0;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.course-details {
    font-size: 14px;
    color: #666;
    margin-top: 0;
    text-align: left;
}

.no-classes {
    text-align: center;
    color: gray;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Style the search bar */
#searchBar {
    width: 200px;
    padding: 10px;
    border: 1px solid #16a159;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
    background: #f8f9fa;
    margin-left: 10px;
}

#searchBar:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Style the filter dropdown */
.filter-select {
    padding: 10px;
    border: 1px solid #16a159;
    border-radius: 10px;
    font-size: 14px;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.filter-select:hover, .filter-select:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Dropdown hidden by default */
.assessment-dropdown {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Styling each assessment item */
.assessment-item {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.assessment-item:hover {
    transform: translateY(-3px);
}

.assessment-title {
    font-weight: bold;
    margin: 0;
}

.assessment-time {
    color: #666;
    font-size: 14px;
}

/* Add some spacing for header and assessment dropdown */
.assessment-header {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #16a159;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.assessment-header:hover {
    background-color: #138a4b;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .container {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }

    .filter-select {
        width: calc(100% - 130px); /* Adjust width based on button size */
        margin-right: 0;
    }

    /* Dropdown Button Padding for Small Screens */
    .dropdown-btn {
        font-size: 14px;
        padding: 5px 10px;
    }
}
