/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 24px;
    color: #1a6e1b;
    margin-bottom: 20px;
}

h4, p {
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, rgba(239, 251, 240, 0.8), #16a159); */
    padding: 10px;
    color: #16a159;
    margin-bottom: 10px;
    /* border-radius: 10px; */
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px); /* Adjust width for sidebar */
    margin: 10px auto;
    margin-left: 270px; /* Offset for sidebar */
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.5s, width 0.5s;
    box-sizing: border-box;
    position: relative;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    display: none;  /* Hide timer initially */
}


/* Button Styles */
.btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background: #16a159;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-primary:hover {
    background: #1a6e1b;
}

.btn-next {
    background: #28a745;
    color: white;
}

.btn-next:hover{
    background: #1e7e34;
}

.btn-success {
    background: #28a745;
    color: white;
}

.btn-success:hover {
    background: #1e7e34;
}

/* Question Box */
.question-item {
    background: #fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.question-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Answer Input */
textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 1px solid #007bff;
}

#assessment-container{
    margin: 20px 0px;
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }

    .filter-select{
        width: calc(100% - 130px); /* Adjust width based on button size */
        margin-right: 0;
    }

}


