/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px); /* Adjust width for sidebar */
    margin: 10px auto;
    margin-left: 270px; /* Offset for sidebar */
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.5s, width 0.5s;
    box-sizing: border-box;
    
}


.header {
    display: flex;
    margin-bottom: 20px;
}

/* Quiz Header */
.quiz-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    border-bottom: 3px solid #ddd;
    color: #333;
}

.question {
    position: relative;
    padding-bottom: 20px;
}

.question .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}


.cards-header{
    background: linear-gradient(to right, rgba(254, 254, 254, 0.8), #16a159);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.answer-list {
    list-style: none;
    padding: 0;
}

.answer-list2 {
    background: #f9f9f9;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer-list2 span {
    flex-grow: 1;
    font-size: 16px;
}

label {
    font-size: 14px;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

.edit_answer {
    background: #16a159;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.edit_answer:hover {
    background: #45a049;
}

.edit_answer i {
    color: #333;
    cursor: pointer;
}


/* Style for Edit and Save buttons */
.edit_question {
    padding: 8px 15px;
    background: #16a159;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Hover Effect */
.edit_question:hover {
    background: #16a159;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.back-icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
}

.back-icon:hover {
    color: #007BFF;
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }
}