<html>
    <body>
    
<h1>Add New User</h1>
<form method="POST" action="{{ url_for('admin.add_user') }}">

    <label for="name">Username:</label>
    <input type="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" name="email" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    
    <label for="role">Role:</label>
    <select name="role" required>
        <option value="0">User</option>
        <option value="1">Admin</option>
    </select>
    
    <button type="submit">Add User</button>
</form>
<a href="{{ url_for('admin.dashboard') }}">Back to Dashboard</a>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>