<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Assign Users to Class</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    
        <h2>Assign Users to {{ class_.name }}</h2>

        <form method="POST">
            {% for user in users %}
                <label>
                    <input type="checkbox" name="users" value="{{ user.userid }}" 
                        {% if user.userid in assigned_users %} checked {% endif %}>
                    {{ user.name }} ({{ user.email }})
                </label><br>
            {% endfor %}
            <button type="submit">Save</button>
        </form>

        <a href="{{ url_for('manage_classes') }}">Back to Classes</a>
        
    </body>
</html>