<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="../static/CSS/EditAnnouncement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Edit Announcements</title>
</head>
<body>
    <div class="dashboard">
        <nav class="navbar">
            <button id="toggle-button" class="toggle-button">
                <span class="icon">&#9776;</span>
            </button>
            <div class="profile-right">
                <img src="../static/img/Recyglo logo.png" alt="Logo" class="logo" style="width: 110px;">
                <button class="notification-button" id="notification-button">
                    <i class="fas fa-bell"></i>
                    <span id="notification-count" class="notification-count">0</span>
                </button>

                <div id="notification-dropdown" class="notification-dropdown hidden">
                    <ul id="notification-list">
                        <li>New course available: "Recycling 101"</li>
                        <li>Your activity submission is pending review.</li>
                    </ul>
                </div>
                <div class="dropdown">
                    <img src="../static/img/profile.webp" alt="Profile" id="profile-pic-right" class="profile-pic" onclick="toggleDropdown()">
                    <div id="profile-dropdown" class="dropdown-menu hidden">
                        <h4 class="profile-header">Hello, <span id="user-name">{{ current_user_name }}</span></h4>
                        <p id="profile-email">{{ current_user_email }}</p>
                        <a href="{{ url_for('auth.logout') }}" id="logout-button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="sidebar">
            <div class="logo" style="text-align: left;">
                <img src="../static/img/Recyglo logo.png" alt="Logo" id="sidebar-logo" style="width: 140px;">
            </div>
            <ul>
                <li><a href="{{ url_for('admin.admin_home') }}"><i class="fa-solid fa-house icon"></i> Home</a></li>
                <li><a href="{{ url_for('admin.dashboard') }}"><i class="fas fa-tachometer-alt icon"></i> Dashboard</a></li>
                <li><a href="{{ url_for('admin.Activity') }}"><i class="fas fa-tasks icon"></i> Activity</a></li>
                <li><a href="{{ url_for('announcement.view_all_announcements') }}"><i class="fas fa-bullhorn icon"></i> Announcement</a></li>
                <li><a href="{{ url_for('admin.manage_course') }}"><i class="fa-solid fa-book-open icon"></i> Courses</a></li>
                <li><a href="{{ url_for('upload.view_files') }}"><i class="fas fa-upload icon"></i> Upload</a></li>
                <li><a href="{{ url_for('admin.view_users') }}"><i class="fas fa-user icon"></i> User</a></li>
                <li><a href="{{ url_for('quiz.view_all_quizzes') }}"><i class="fa-solid fa-lightbulb icon"></i> Quiz</a></li>
                <li><a href="{{ url_for('admin.Alumni_admin') }}"><i class="fa-solid fa-user-group icon"></i> Alumni</a></li>
                <li><a href="{{ url_for('admin.view_all_progress') }}"><i class="fa-solid fa-bars-progress icon"></i> Progress</a></li>
            </ul>
        </nav>
        <div class="container">
            <a href="{{ url_for('announcement.view_all_announcements') }}"  class="back-icon"><i class="fa-solid fa-angle-left"></i></i></a>
            <h2>Edit Announcements</h2>
            <form id="AddAnnouncementForm" action="{{ url_for('announcement.edit_announcement', announcement_id=announcement.announcementid) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">    
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="{{ announcement.title }}" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea id="content" name="content" class="form-control" rows="5" required>{{ announcement.content }}</textarea>
                </div>
                <!-- <div class="form-group">
                    <label for="file" style="color: green;">Click to Choose file</label>
                    <input id="" type="file" name="file" required>
                    <span id="file-chosen">No file chosen</span>
                </div> -->
                <div class="form-group">
                    <label for="announcement_img">Current Image</label>
                    {% if announcement.announcement_img %}
                        <div>
                            <img src="{{ url_for('static', filename='announcements/' + announcement.announcement_img) }}" alt="Current Announcement Image" style="max-width: 200px; max-height: 200px;">
                        </div>
                    {% else %}
                        <p>No image uploaded</p>
                    {% endif %}
                    <div class="form-group">
                        <label for="announcement_img" style="color: white; background-color: #A9C9A4; padding: 14px 5px; border-radius: 5px; font-size: 14px;">Click to Choose file</label>
                        <input id="announcement_img" type="file" name="announcement_img">
                        <span id="file-chosen">No file chosen</span>
                        <!-- <input type="file" name="file" id="file" required> -->
                    </div>
                </div>  
                <div class="form-group">
                    <label for="event_date">Events Date</label>
                    <input type="date" id="event_date" name="event_date" class="form-control" value="{{ announcement.event_date }}" required>
                </div>  
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" class="form-control" value="{{ announcement.date}}" disabled>
                </div>
                <div class="buttons">
                    <button type="submit" class="submit-button">Save Changes</button>
                    <a href="{{ url_for('announcement.view_all_announcements') }}"><button type="button" class="cancel-button">Cancel</button></a>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/JS/script.js"></script>
    <script>
        const fileUpload = document.getElementById('announcement_img');
        const fileChosen = document.getElementById('file-chosen');
    
        fileUpload.addEventListener('change', function(){
            fileChosen.textContent = this.files[0].name;
        });
    </script>
</body>
</html>