<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ current_user.name }}</h1>
    <h2>Your Progress</h2>
    
    {% if progress_data and progress_data|length > 0 %}
    <ul>
        {% for course_name, progress in progress_data.items() %}
            {% if progress != 0 %}
                <li>
                    <strong>{{ course_name }}</strong> - Progress: {{ progress | round(2) }}%
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No progress data available.</p>
{% endif %}

    <h2>Your Options:</h2>
    <ul>
        <li><a href="{{ url_for('main.view_activities') }}">View All Activities</a></li>
        <li><a href="{{ url_for('main.add_activity') }}">Add New Activity</a></li>
        <li><a href="{{ url_for('main.learning') }}">Learning page</a></li>
        <li><a href="{{ url_for('main.user_progress') }}">Progress</a></li>
    </ul>

    <a href="{{ url_for('auth.logout') }}">Logout</a>
</body>
</html>