<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/Upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Upload Files</title>
</head>
<body>
    <div class="dashboard">
        <nav class="navbar">
            <button id="toggle-button" class="toggle-button">
                <span class="icon">&#9776;</span>
            </button>
            <div class="profile-right">
                <img src="static/img/Recyglo logo.png" alt="Logo" class="logo" style="width: 110px;">
                <!-- Language Selector -->
            <div class="language-dropdown">
                <button class="language-btn">
                <img src="static/img/uk.svg" class="flag-icon"> English <i class="fas fa-chevron-down icon"></i>
                </button>
            <div class="dropdown-content">
                <a href="?lang=en"><img src="static/img/uk.svg" class="flag-icon"> English</a>
                <a href="?lang=th"><img src="static/img/th.svg" class="flag-icon"> Thailand</a>
                <a href="?lang=my"><img src="static/img/my.svg" class="flag-icon"> Myanmar</a>
                <a href="?lang=vi"><img src="static/img/vi.svg" class="flag-icon"> Vietnam</a>
                <a href="?lang=in"><img src="static/img/id.svg" class="flag-icon"> Indonia</a>
                <a href="?lang=ko"><img src="static/img/kr.svg" class="flag-icon"> Korea</a>
                
            </div>
            </div>
                <button class="notification-button" id="notification-button">
                    <i class="fas fa-bell"></i>
                    <span id="notification-count" class="notification-count">0</span>
                </button>

                <div id="notification-dropdown" class="notification-dropdown hidden">
                    <ul id="notification-list">
                        <li>New course available: "Recycling 101"</li>
                        <li>Your activity submission is pending review.</li>
                    </ul>
                </div>
                <div class="dropdown">
                    
                    <img src="static/img/profile.webp" alt="Profile" id="profile-pic-right" class="profile-pic" onclick="toggleDropdown()">
                    <div id="profile-dropdown" class="dropdown-menu hidden">
                        <h4 class="profile-header">Hello, <span id="user-name">{{ current_user_name }}</span></h4>
                        <p id="profile-email">{{ current_user_email }}</p>
                        <a href="{{ url_for('auth.logout') }}" id="logout-button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="sidebar">
            <div class="logo" style="text-align: left;">
                <img src="static/img/Recyglo logo.png" alt="Logo" id="sidebar-logo" style="width: 140px;">
            </div>
            <ul>
                <li><a href="{{ url_for('admin.admin_home') }}"><i class="fa-solid fa-house icon"></i> Home</a></li>
                <li><a href="{{ url_for('admin.dashboard') }}"><i class="fas fa-tachometer-alt icon"></i> Dashboard</a></li>
                <li><a href="{{ url_for('admin.Activity') }}"><i class="fas fa-tasks icon"></i> Activity</a></li>
                <li><a href="{{ url_for('announcement.view_all_announcements') }}"><i class="fas fa-bullhorn icon"></i> Announcement</a></li>
                <li><a href="{{ url_for('admin.manage_course') }}"><i class="fa-solid fa-book-open icon"></i> Courses</a></li>
                <li><a href="{{ url_for('upload.view_files') }}"><i class="fas fa-upload icon"></i> Upload</a></li>
                <li><a href="{{ url_for('admin.view_users') }}"><i class="fas fa-user icon"></i> User</a></li>
                <li><a href="{{ url_for('quiz.view_all_quizzes') }}"><i class="fa-solid fa-lightbulb icon"></i> Quiz</a></li>
                <li><a href="{{ url_for('admin.Alumni_admin') }}"><i class="fa-solid fa-user-group icon"></i> Alumni</a></li>
                <li><a href="{{ url_for('admin.view_all_progress') }}"><i class="fa-solid fa-bars-progress icon"></i> Progress</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="header">
                <h1>Upload Files</h1>
                <div class="header-actions">
                    <form method="POST" id="search-form" class="mb-4">
                    <!-- <input type="text" id="search_query" placeholder="Search by FileName" name="search_query"> -->
                    <input type="text" id="searchBar" placeholder="Search By Title">
                    </form>
                    <a href="{{ url_for('upload.upload_file') }}" id="addUploadLink">
                        <button id="addUserButton"><i class="fas fa-plus"></i>Add New Files</button>
                    </a>
                </div>
            </div>
            <div class="table-container">
                {% if files %}
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>File Type</th>
                            <!-- <th>Course Name</th> -->
                            <th>Upload Date</th>
                            <th>Uploaded By</th>
                            <th>Action</th>
                            <th>Preview</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                        <!-- User data will be populated here -->
                        {% for file, user in files %}
                         <tr>
                            <td>{{ file.filename }}</td>
                            <td>{{ file.filetype }}</td>
                            <td>{{ file.uploaddate }}</td>
                            <td>{{ user.name }}</td>
                            <td>
                                <a href="{{ url_for('upload.edit_file', uploadid=file.uploadid) }}" class="editAction"><i class="fas fa-edit"></i></a>
                                <form action="{{ url_for('upload.delete_file', uploadid=file.uploadid) }}" method="POST" style="display:inline;">
                                <button type="submit" class="deleteAction" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                            <td>
                            <a href="{{ file.preview_url }}" target="_blank " class="viewuploadLink">
                                <button id="ViewLinkButton">View Upload File</button>
                            </a>
                            </td>
                         </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <button id="prevPage">Previous</button>
                <button id="nextPage">Next</button>
            </div>
            {% else %}
        <div class="alert alert-info" role="alert">
            No files found!
        </div>
        {% endif %}
        </div>
    </div>
    <script src="static/JS/script.js"></script>
    <script>
        // Search Functionality
        document.getElementById("searchBar").addEventListener("keyup", function () {
            let filter = this.value.toLowerCase();
            let tableRows = document.querySelectorAll("#userTableBody tr");
    
            tableRows.forEach(row => {
                let title = row.querySelector("td:nth-child(1)").innerText.toLowerCase(); // Title is in the first column
                if (title.includes(filter)) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>

</body>
</html>